@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.background-corpo{
    background: #1B1B1B;
}
/*****
*HEADER*
******/
.navbar-estilo{
    background: #F3235F;
}
.fonte-logo{
    font-family: 'Julius Sans One';
    color:#e8e8e8!important;
}
.fonte-nav{
    color:#e8e8e8!important;
}
.fonte-logo:hover{
    transform: scale(1.1);
}

.fonte-nav:hover{
    background: #e8e8e8;
    color: #F3235F!important;
    border-radius: 5px;
}

/*****
*MAIN*
******/
.fonte-corpo{
    font-family: 'Source Code Pro';
    color:#e8e8e8
}
.margin-carrossel{
    margin-top: 5rem;
}
.poster-carrossel{
    box-shadow: 0px 0px 13px 0px #000;
}
.poster-carrossel:hover{
    transform: scale(1.01);
    transition: 0.2s ease-out;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0,0.9);
    cursor: pointer;
}
#trailer{
    width: 100%;
    height: 80vh;
}

.font-trailer{
    font-family: 'Special Elite';
}
.btn-login:focus{
    box-shadow:none!important;
}
/*******
*FOOTER*
********/
.hovericon>li>a:hover {
    transition: 0.5s all;
    transform: scale(1.2);
    color: black;
}
.fonte-footer{
    color: #e8e8e8;
}
/*
.hovericon> li:hover> a::after{
    content: "🎥";
}
*/



@media (max-width: 700px){
    .margin-carrossel{
        margin-top: 5rem;
    }
    .media-footer{
        display: flex;
        flex-direction: column;
    }
    .div-media{
        width: 100%!important;
    }
    .nav-media{
        flex-direction: column!important;
        align-items: center!important;
    }
    .position-media{
        position: absolute!important;
    }
}